body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    margin: 0;
    user-select: none;
    color: white;
    background-color: black;
}

::selection{
    background-color: white;
    color: black;
    filter: drop-shadow(0 0 10px white);
}

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#heading{
    font-size: 70px;
    filter: drop-shadow(0 0 0.9rem #7b08ff);
}